{% extends 'base.html.twig' %}

{% block title %}Hello TricksController!{% endblock %}

{% block body %}


<img src="{{ asset('/uploads/'~tricks.featimg)}}" alt="" width="250">

{% for image in tricks.images %}
			<div>
				<img src="{{ asset('/uploads/'~image.name) }}" alt="" width="250">
				

				</br>
                {% endfor %}
<h1> Titre </h1>
{{tricks.title}} 
<h2> Contenu </h2>
{{tricks.content}} 
{{category.name}} 

 {% for video in tricks.videos %}
                    <div class="col-lg-4 col-md-12 mb-3 pb-3">
                        <div class="card h-100">
                            <iframe
                                    src="{{ video.url }}"
                                    title="YouTube video player"
                                    frameborder="0"
                                    allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen>

                            </iframe>
                        </div>
                    </div>
                {% endfor %}

                {{ include('comments/comments.html.twig') }}





{% endblock %}