{% extends 'base.html.twig' %}

{% block title %}Hello TricksController!
{% endblock %}


{% block body %}

<div class="container">
	<div class="card mb-5">
		<img class="card-img-top" src="{{ asset('/uploads/'~tricks.featimg)}}" alt="Card image cap">
		<div class="card-body">
			<h5 class="card-title">{{tricks.title}}</h5>
			<p class="card-text">
				<label for="exampleFormControlTextarea1"> Auteur :</label>

				<small class="text-muted">{{tricks.user.name}}</small>    

				<label for="exampleFormControlTextarea1"> Crée le : </label>

				<small class="text-muted">{{ tricks.createdAt | date('d/m/Y') }}</small>
			</p>
			<p class="card-text">
				<!-- Start Carousel -->
			<div class="row d-lg-flex load-media">
				<div class="col-lg-6 col-md-12">
					<div id="carousel_image" class="carousel slide mt-3 mb-2" data-ride="carousel">
						<ol class="carousel-indicators">
							{% for image in tricks.images %}
							<li data-target=".carousel" data-slide-to="{{ loop.index - 1 }}" {% if loop.index==0
								%}class="active" {% endif %}></li>
							{% endfor %}
						</ol>
						<div class="carousel-inner enlarge">
							{% for image in tricks.images %}
							<div class="carousel-item {% if loop.index == 1 %} active {% endif %}">
								<img class="d-block" src="{{ asset('/uploads/'~image.name) }}">
							</div>
							{% endfor %}
						</div>
						<a class="carousel-control-prev" href="#carousel_image" data-slide="prev">
							<span class="carousel-control-prev-icon"></span>
						</a>
						<a class="carousel-control-next" href="#carousel_image" data-slide="next">
							<span class="carousel-control-next-icon"></span>
						</a>
					</div>
				</div>
				<div class="col-lg-6 col-md-12">
					<div id="carousel_video" class="carousel slide mt-3 mb-2" data-ride="carousel">
						<ol class="carousel-indicators">
							{% for video in tricks.videos %}
							<li data-target=".carousel" data-slide-to="{{ loop.index - 1 }}" {% if loop.index==0
								%}class="active" {% endif %}></li>
							{% endfor %}
						</ol>
						<div class="carousel-inner enlarge">
							{% for video in tricks.videos %}
							<div class="carousel-item {% if loop.index == 1 %} active {% endif %}">
								<iframe src="{{ video.url }}" allowfullscreen=""></iframe>
							</div>
							{% endfor %}
						</div>
						<a class="carousel-control-prev" href="#carousel_video" data-slide="prev">
							<span class="carousel-control-prev-icon"></span>
						</a>
						<a class="carousel-control-next" href="#carousel_video" data-slide="next">
							<span class="carousel-control-next-icon"></span>
						</a>
					</div>
				</div>
			</div>

			</p>
			<p class="card-text">


				{{tricks.content}}
				<br />



				<label for="exampleFormControlTextarea1"> Category :</label>

				<small class="text-muted">{{tricks.category.name}}
				</small>
			</p>
		</div>
	</div>


	{% if app.user %}

		<div class="form-group">
			<label for="exampleFormControlTextarea1">Commentaire :</label>
			{{ form(commentForm) }}






		</div>
		{% else %}
			<p> Vous devez être <a href="{{ path('app_login') }}">connecté</a> ou bien <a
					href="{{ path('app_register') }}"> inscrit<a /></p>


		{% endif %}

		<span class="comments-anchor" id="comments-block"></span><div class="col-md-12 bg-light">
			<div class="mb-3">
				<div class="border entry-comments">
					<h6 class="mb-3 pl-2">{{comments | length }} commentaires</h6>
					<ul class="entry-comments-list list-unstyled">
						{% for comment in comments %}

								<div class="row mb-3 pl-2 bg-light">
								<span class="comment-anchor" id="100"></span>
								<div class="col-md-2 col-sm-4 col-xs-6 text-center">
									<img src="{{ asset('/uploads/' ~ comment.user.avatar) }}" class="user-profile">
								</div>
								<div class="col-10 col-sm-8 col-xs-6">
									<p>{{ comment.comment }}</p>
									<p><span>par {{ comment.user.name }}</span>
										<span>le {{ comment.CreatedAt|date("m/d/Y") }}</span>
									</p>
								</div>
							</div>
							<hr>
							{% endfor %}

							
							
													</ul>
				</div>
			</div>

			</div>
		</div>



			
    <div class="container">
		<ul class="pagination">
			<li class="page-item {{ (page == 1) ? 'disabled' : '' }}">
				<a class="page-link" href="?page=1">
					<i class="fas fa-step-backward"></i>
				</a>
			</li>
			<li class="page-item {{ (page == 1) ? 'disabled' : '' }}">
				<a class="page-link" href="{{ (page > 1) ? '?page=' ~ (page - 1) : '' }}">
					<i class="fas fa-angle-left"></i>
				</a>
			</li>
			{% set pages = (total / limit)|round(0, 'ceil') %}
			{% for item in 1..pages %}
			<li class="page-item {{ (page == item) ? 'active' : '' }}">
				<a class="page-link" href="?page={{ item }}">{{ item }}</a>
			</li>
			{% endfor %}
			<li class="page-item {{ (page == pages) ? 'disabled' : '' }}">
				<a class="page-link" href="{{ (page < pages) ? '?page=' ~ (page + 1) : '' }}">
					<i class="fas fa-angle-right"></i>
				</a>
			</li>
			<li class="page-item {{ (page == pages) ? 'disabled' : '' }}">
				<a class="page-link" href="?page={{ pages }}">
					<i class="fas fa-step-forward"></i>
				</a>
			</li>
	
		</ul>


	</div>
	

</div>






<style>

	div.carousel div.carousel-item>img {
		width: 100%;
		height: 18.75rem;
	}

	div.carousel div.carousel-item>iframe {
		width: 100%;
		height: 18.75rem;
		border: 0;
		display: block;
	}

	.carousel-indicators {
		bottom: -50px;
	}

	.carousel-indicators li {
		border-radius: 50%;
		width: 12px;
		height: 12px;
		background-color: #ccc;
	}

	.carousel-inner {
		margin-bottom: 50px;
		border-radius: 0.625rem;
		box-shadow: 0 2px 0 rgba(90, 97, 105, 0.11), 0 4px 8px rgba(90, 97, 105, 0.12), 0 10px 10px #5a61690f, 0 7px 70px rgba(90, 97, 105, 0.1);
	}

	.carousel-control-prev,
	.carousel-control-next {
		top: 55px;
		bottom: 55px;
	}
	.card-comment {
		background-color: rgba(254, 216, 187, 0.3);
		border-radius: 0.625em;
	}
	
	.img-trick-display {
		height: 70vh;
		width: 100%;
	}
	
	.entry-comments {
		border-radius: 0.625em;
	}
	img.user-profile {
		max-height: 128px;
		max-width: 128px;
	}
</style>











{% endblock %}