{% extends 'base.html.twig' %}

{% block title %}Hello CommentsController!
{% endblock %}

{% block body %}

	<div class="form-group">
		<label for="exampleFormControlTextarea1">Commentaire :</label>
		<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
	</div>
	{% if app.user %}
		{{ form_start(form) }}
		{{ form_row(form.comment)}}

	{% else %}
		<p>Vous devez être
			<a href="{{ path('app_register') }}">inscrit
			</a>
			ou
			<a href="{{ path('app_login') }}">inscrit
			</a>
			pour écrire un commentaire</p>

	{% endif %}


	<div class="card">
		<div class="card-body">
			<div class="row">
				<div class="col-md-2">
					<img src="" class="img img-rounded img-fluid">
				</div>
				<div class="col-md-10">
					<div class="clearfix"></div>
					<p></p>
				</div>
			</div>
		</div>
	</div>
        <nav aria-label="Page navigation example">
		<ul class="pagination">
        {% for item in 1..((total / limit)|round(0,'ceil')) %}
           <li class="page-item">
				<a class="page-link" href="?page={{ item }}">{{ item }}</a>
			</li>            
        {% endfor %}
		</ul>
        </nav>

{% endblock %}
