{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}

<div class="w-100 h-100">
        <div class="home-bg">          
            <div class="container">
                <span class="slogan"><p class="slogan-p">Be a pro of snowboard</p></span>              
            </div>
            <a href="#tricks"><i class="fas fa-chevron-down fa-4x chevron-down"></i></a>                                         
        </div>           
    </div>

  

    
<section class="section section-b">
    <div class="container">
    {% for msg in app.flashes('success') %}
<div class="alert alert-primary" role="alert">
  {{msg}}
</div>
{% endfor %}
<div class="container p-5">

    <div class="row">


        {% for tricks in tricks %}
        <div class="card" style="width: 18rem;">
      <img class="card-img-top" src="{{ asset('/uploads/'~tricks.featimg)}}" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">{{ tricks.title}}</h5>
        <p class="card-text">{{tricks.category.name}}</p>
        <a href="{{ path('show_trick',  { 'id': tricks.id, 'slug': tricks.slug }) }}" class="btn btn-primary">En savoir plus</a>
        {% if app.user %}
            <a href="{{ path('update_trick', { 'id': tricks.id }) }}">Update</a>
            <a href="{{ path('delete_trick', { 'id': tricks.id }) }}">Delete</a>
    
    
        
        {% endif %}
        
      </div>
    </div>
            
        {% endfor %}
    
    
       <div class="container p-5">
    
    
    {# Pagination #}
    {% if nbPages > 1 %}

    {# Number of page around current page+1 #}
    {% set nearbyPagesLimit = 2 %}

        <ul class="pagination">
            {% if currentPage != 1 %}
                <li>
                    <a class="page-link" href="{{ path(url, { 'page': 1 }) }}">Première</a>
                </li>
            {% endif %}
            {% for i in 1..nbPages %}
                {% if 0 == (currentPage - nearbyPagesLimit) - loop.index %} {# dot before #}
                    <li class="disabled page-item"><a class="page-link" href="#">...</a></li>
                {% elseif 0 == (currentPage + nearbyPagesLimit) - loop.index %} {# dot after #}
                    <li class="disabled"><a class="page-link" href="#">...</a></li>
                {% elseif 0 < (currentPage - nearbyPagesLimit) - loop.index %} {# hide all before #}
                {% elseif 0 > (currentPage + nearbyPagesLimit) - loop.index %} {# hide all after #}
                {% else %}
                    <li {% if currentPage == loop.index  %} class="active"{% endif %}>
                        <a class="page-link" href="{{ path(url, { 'page': loop.index }) }}">{{ loop.index }}</a>
                    </li>
                {% endif %}
            {% endfor %}
            {% if currentPage != nbPages %}
                <li>
                    <a class="page-link" href="{{ path(url, { 'page': nbPages }) }}">Dernière</a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endif %}
        </div>
        
      
          
        </div>
      </section>

</div>


  <div class="container-fluid down">
        <a href="">
            <i class="fas fa-chevron-up fa-4x chevron-up"></i>
        </a>
    </div>
{% endblock %}
