{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}

<div class="w-100 h-100">
        <div class="home-bg">          
            <div class="container">
                <span class="slogan"><p class="slogan-p">Be a pro of snowboard</p></span>              
            </div>
            <a href="#tricks"><i class="fas fa-chevron-down fa-4x chevron-down"></i></a>                                         
        </div>           
    </div>

  

    
<section class="section section-b">
    <div class="container">
    {% for msg in app.flashes('success') %}
<div class="alert alert-primary" role="alert">
  {{msg}}
</div>
{% endfor %}
<div class="row">


    {% for tricks in tricks %}
    <div class="card" style="width: 18rem;">
  <img class="card-img-top" src="{{ asset('/uploads/'~tricks.featimg)}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{ tricks.title}}</h5>
    <p class="card-text">{{tricks.category.name}}</p>
    <a href="{{ path('show_trick', { 'id': tricks.id, 'slug': tricks.slug}) }}" class="btn btn-primary">En savoir plus</a>
    {% if app.user %}
        <a href="{{ path('update_trick', { 'id': tricks.id }) }}">Update</a>
        <a href="{{ path('delete_trick', { 'id': tricks.id }) }}">Delete</a>


    
    {% endif %}
    
  </div>
</div>
        
    {% endfor %}


   <div class="container">


{# Pagination #}
 {% if pagination > 1 %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page > 1 %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page - 1 }}">Previous</a>
                </li>
            {% endif %}
            {% if page < 3 %}
                {% if pagination > 5 %}
                    {% set pagination = 5 %}
                {% endif %}
                {% for i in 1..pagination %}
                    <li class="page-item {% if i == page %}active{% endif %}">
                        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                    </li>
                {% endfor %}
            {% elseif pagination-page < 2 %}
                {% for i in pagination-4..pagination %}
                    <li class="page-item {% if i == page %}active{% endif %}">
                        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                    </li>
                {% endfor %}
            {% else %}
                {% for i in page-2..page+2 %}
                    <li class="page-item {% if i == page %}active{% endif %}">
                        <a class="page-link" href="?page={{ i }}">{{ i }}</a>
                    </li>
                {% endfor %}
            {% endif %}
            {% if pagination > 1 and pagination != page %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page + 1 }}">Next</a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endif %}
	</div>
    
  
      
    </div>
  </section>

  <div class="container-fluid down">
        <a href="">
            <i class="fas fa-chevron-up fa-4x chevron-up"></i>
        </a>
    </div>
{% endblock %}
